.wrapper__navbar_open_full_section {
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
}

.navbar_open_full_section {
    position:relative;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    align-items: center;

}
.navbar_open_full_section > div {
    height:72vh;
}
.navbar_open_full_section .img {
    grid-column-start: 3;
    grid-column-end: 7;
    overflow:hidden;
}
.navbar_open_full_section .menu_item_list {
    grid-column-start: 8;
    grid-column-end: 13;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar_open_full_section .menu_item_list a {
    font-size: 3.6rem;
}