.navbar_open_full_section {
    position:relative;
    width:100%;
    height:100vh;
    
    display: flex;
    align-items: center;
    
}

.navbar_open_full_section .img {
    grid-column-start: 3;
    grid-column-end: 7;
    overflow:hidden;
}
.navbar_open_full_section .menu_item_list {
    grid-column-start: 8;
    grid-column-end: 11;

    height:60vh;
}
.navbar_open_full_section .menu_item_list a {
    font-size:5rem;
}