:root {
    --width_item : 25vw;
    --gap_item: 50px;
}
.projects_section {
    position:relative;
    width:100%;
    height:100vh;
    background-color: var(--white);
    overflow:hidden;
}
.btn_open_list {
    position: absolute;
    bottom: 0;
    left:0;
    padding: 100px;
    z-index: 99;
}
#SLIDER_WORK_LIST {
    position: absolute;
   
    width: fit-content;
    height: fit-content;
    top:50%;
 /*    left:calc(calc(calc(100vw - var(--width_item)) / 2) - calc(var(--width_item) + var(--gap_item)));
 */
//left:calc(calc(var(--width_item) + var(--width_item)) /-4.2); 
   transform:translateY(-50%);
   left:0;
    z-index:8;
    display: flex;
}
#SLIDER_WORK_LIST button.active {
        opacity:0 !important;
}

#SLIDER_WORK_LIST button {
    display: block;
    width:var(--width_item);
    height: 64vh;

    padding:  1vw;
    outline: none;
    border:none;
  
}
.work_section > .content {
    position:absolute;
    top:50%;
    left:50%;
    width:var(--width_item);
    height: 64vh;
    transform:translate(-50%,-50%);
    z-index:11;
    padding:  1vw;
    overflow:hidden;
}
.work_section .background {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:11;
}
ul#small_background ,
ul#big_background  {
    position:relative;
    width:100%;
    height:100%;
}
ul#small_background li:nth-child(n),
ul#big_background li:nth-child(n) {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin: center;
 
}
ul#small_background li:nth-child(n) a {
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
}
#SLIDER_WORK_LIST button .img {
    position:relative;
    width:100%;
    height:100%;
    
}
ul#small_background li:nth-child(n) a {
    background:unset;
}
ul#small_background li.active:nth-child(n),
ul#big_background li.active:nth-child(n) {
    z-index:20;
}
ul#small_background li:nth-child(1),
ul#big_background li:nth-child(1){
    background:url('/home/ser1.png');
    background-size:cover;
}
ul#small_background li:nth-child(2),
ul#big_background li:nth-child(2){
    background:url('/home/ser2.png');
    background-size:cover;
}
ul#small_background li:nth-child(3),
ul#big_background li:nth-child(3){
    background:url('/home/ser3.png');
    background-size:cover;
}
ul#small_background li:nth-child(4),
ul#big_background li:nth-child(4){
    background:url('/home/ser4.png');
    background-size:cover;
}

ul#small_background li:nth-child(5),
ul#big_background li:nth-child(5){
    background:url('/home/ser5.png');
    background-size:cover;
}



#SLIDER_WORK_LIST button:nth-child(1) .img {
    background:url('/home/ser1.png');
    background-size:cover;
}
#SLIDER_WORK_LIST button:nth-child(2) .img {
    background:url('/home/ser2.png');
    background-size:cover;
}
#SLIDER_WORK_LIST button:nth-child(3) .img {
    background:url('/home/ser3.png');
    background-size:cover;
}
#SLIDER_WORK_LIST button:nth-child(4) .img {
    background:url('/home/ser4.png');
    background-size:cover;
}
#SLIDER_WORK_LIST button:nth-child(5) .img {
    background:url('/home/ser5.png');
    background-size:cover;
}

