.dark_bg * {
    color:var(--white);
}
img, svg {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
body {
    background: var(--white); /* for blend mode button adn more */
}
#button_menu {
    mix-blend-mode: difference;
}
.has-padding-top-and-bottom {
    padding: 10.4166666667vw 0;
}
.navbar_item_colorblack  a,
.navbar_item_colorblack  .lable,
.navbar_item_colorblack  .icon-close{
    color:var(--black) !important;
}
.navbar_item_colorblack   .underline-effect-styles {
    background-color:var(--black) !important;
}
a {
    position:relative;
}
.cream_background {
    background-color: var(--cream) !important;
}
.greendam_background {
    background-color: var(--greendam) !important;
}
.greendam_background * {
    color:var(--color-white-08) !important;
}
:root {
    --greendam:rgb(134, 143, 138);
}