.dark_bg * {
    color:var(--white);
}
img, svg {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#button_menu {
    color: #e4e0db!important;
    color: var(--color-light-grey) !important;
}
.has-padding-top-and-bottom {
    padding: 10.4166666667vw 0;
}