.dark_bg * {
    color:var(--white);
}
img, svg {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#button_menu {
    color: #e4e0db;
    color: var(--color-light-grey) ;
}
.has-padding-top-and-bottom {
    padding: 10.4166666667vw 0;
}
.navbar_item_colorblack  a,
.navbar_item_colorblack  .lable,
.navbar_item_colorblack  .icon-close{
    color:var(--black) !important;
}
.navbar_item_colorblack   .underline-effect-styles {
    background-color:var(--black) !important;
}
a {
    position:relative;
}