.m1 {
    opacity:0.5;
    transition:500ms ;
    animation: square-animation 2s ;
}



@keyframes square-animation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(300px);
    }
  }