#lenis_space {
   
    width:100%;
    z-index: 99999;
    position: relative;
}
#page1 {

    background:url('/home/ser1.png');

    background-repeat: no-repeat;
    background-size: cover;

    z-index: 0;
}
.page h1 {
    z-index:9999;
    margin: auto;
    font-size:5rem;
    color:white;
}
#page2 {
    
    background:url('/home/ser4.png');

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#id_2 {
  
}
main {
    position: relative;
    width: 100%;
    height:100vh;
    overflow:hidden;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    
    z-index:1111;
}
.navbar ul {
    display:flex;
    flex-direction: row;
}.navbar ul li {
    margin: 0 50px;
}
.navbar a {
    font-size: 2rem;
    display:block;
    padding: 1rem 2rem;
    border: 1px solid green;
}
.View_Switch_Compo {
    position:relative;
    width:100%;
    height:auto;
}
.scroll {
   /*  position:fixed;
    top:0;
    left:0; */
  
}
.page {
    position: absolute;
    top:0;
    left:0;
    margin: auto;
    width:100%;
    height:100vh; 
    overflow: hidden;
  /*   height: fit-content; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    will-change:tranform,opacity;
    

}
.List {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background: cyan;
    overflow: scroll;
    border: 2px solid black;
    box-sizing: border-box;
  }
  
  .List-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
#hero_banner_section,
#section1,
#section2 {
    will-change:transform;
}
.section1 {
    position:relative;
    width:100vw;
    height:100vh;
    background:blue;
}
.section2 {
    position:relative;
    width:100vw;
    height:100vh;
    background:green;
}
.page * {
  
}
.overplay {
    background:blue;
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    z-index:2;

    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
}






